# Защита персональных данных клиентов

Вам нужно защитить данные клиентов страховой компании «Хоть потоп». Разработайте такой метод преобразования данных, чтобы по ним было сложно восстановить персональную информацию. Обоснуйте корректность его работы.

Нужно защитить данные, чтобы при преобразовании качество моделей машинного обучения не ухудшилось. Подбирать наилучшую модель не требуется.

## Загрузка данных

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
import numpy as np

In [2]:
try:
    df = pd.read_csv('C:/Users/Пользователь/OneDrive/Документы/Python/insurance.csv')
except:
    data = pd.read_csv('/datasets/insurance.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Пол                5000 non-null   int64
 1   Возраст            5000 non-null   float64
 2   Зарплата           5000 non-null   float64
 3   Члены семьи        5000 non-null   int64
 4   Страховые выплаты  5000 non-null   int64
dtypes: float64(2), int64(3)
memory usage: 195.4 KB

In [4]:
df.head()

   Пол  Возраст  Зарплата  Члены семьи  Страховые выплаты
0    1     41.0   49600.0            1                  0
1    0     46.0   38000.0            1                  1
2    0     29.0   21000.0            0                  0
3    0     21.0   41700.0            2                  0
4    1     28.0   26100.0            0                  0

In [5]:
df.isna().sum()

Пол                  0
Возраст              0
Зарплата             0
Члены семьи          0
Страховые выплаты    0
dtype: int64

In [6]:
df[df.duplicated()]

      Пол  Возраст  Зарплата  Члены семьи  Страховые выплаты
281     1     39.0   48100.0            1                  0
488     1     24.0   32900.0            1                  0
513     0     31.0   37400.0            2                  0
718     1     22.0   32600.0            1                  0
785     0     20.0   35800.0            0                  0
...   ...      ...       ...          ...                ...
4793    1     24.0   37800.0            0                  0
4902    1     35.0   38700.0            1                  0
4935    1     19.0   32700.0            0                  0
4945    1     21.0   45800.0            0                  0
4965    0     22.0   40100.0            1                  0

[153 rows x 5 columns]

Имеем 5 столбцов и 5000 строк. Пропусков в данных нет. Дубликаты найдены. Но из-за небольшого небольшого количества параметров сложно утверждать, что это именно дубликаты, а не схожие значения по разным клиентам. Оставим данные без изменений.

Сразу подготовим нужные нам в работе признаки.

In [7]:
features = df.drop(['Страховые выплаты'], axis=1)
target = df['Страховые выплаты']

## Умножение матриц

В этом задании вы можете записывать формулы в *Jupyter Notebook.*

Чтобы записать формулу внутри текста, окружите её символами доллара \\$; если снаружи —  двойными символами \\$\\$. Эти формулы записываются на языке вёрстки *LaTeX.* 

Для примера мы записали формулы линейной регрессии. Можете их скопировать и отредактировать, чтобы решить задачу.

Работать в *LaTeX* необязательно.

Обозначения:

- $X$ — матрица признаков (нулевой столбец состоит из единиц)

- $y$ — вектор целевого признака

- $P$ — матрица, на которую умножаются признаки

- $w$ — вектор весов линейной регрессии (нулевой элемент равен сдвигу)

Предсказания:

$$
a = Xw
$$

Задача обучения:

$$
w = \arg\min_w MSE(Xw, y)
$$

Формула обучения:

$$
w = (X^T X)^{-1} X^T y
$$

**Ответ:** Не измениться

**Обоснование:** Вставим умножение на обратимую матрицу P, чтобы доказать, что : $a'=a$

$$ a'= XP((XP)^T XP)^{-1} (XP)^T y $$

Для следующего шага понадобиться следующее свойство обатимой матрицы: $$ (AB)^T = A^T B^T $$

$$
a' = XP (P^T X^T XP)^{-1} P^T X^T y
$$

Для следующего шага понадобиться следующее свойство транспонированной матрицы:
$$
(AB)^{-1} = B^{-1} A^{-1} 
$$

$$ a'= XP(P)^{-1} (X^TX)^{-1} (P^T)^{-1} X^T P^T y $$
Раскроем скобки: $$ a'= XP(P)^{-1} (X^TX)^{-1} (P^T)^{-1} X^T P^T y $$

Умножение $$PP^{-1} = E$$

Умножением на единичную матрицу не чего не меняет: 
$$ a' = XE (X^TX)^{-1} EX^T y $$

$$ a' = X (X^TX)^{-1} X^T y $$

$$ a' = Xw $$

$$a'=a$$

Как видно, значение предсказания  не меняется, если умножать матрицу признаков на обратимую матрицу.

## Алгоритм преобразования

**Алгоритм**

Обучим модель на первоначальных данных и посмотрим метрику R2

Потом создадим случаную матрицу и инвертируем ее.

Умножим получившуюся матрицу на случаную матрицу.

Отделим целевой признак, разобьем выборки, обучим модель и посмотрим метрику R2

Сравним показатель R2

**Обоснование**

Так как при произведение матриц мы умножаем несколько наборов данных и записываем их в новую матрицу, то вес каждого вектора не измениться от изначального.

## Проверка алгоритма

In [8]:
features_train, features_valid, target_train, target_valid = train_test_split(features, target,
                                                                            test_size=0.25, random_state=12345)

In [9]:
model = LinearRegression()
model = model.fit(features_train, target_train)
prediction = model.predict(features_valid)
print("Значение r2:", r2_score(target_valid, prediction))

Значение r2: 0.43522757127026535

In [10]:
matrix = np.random.rand(4,4)
matrix_inverse = np.linalg.inv(matrix)

In [11]:
matrix @ matrix_inverse

array([[ 1.00000000e+00, -1.81382033e-16, -1.73432891e-17,
         2.43750671e-17],
       [-1.44715929e-16,  1.00000000e+00,  1.82428435e-16,
        -1.67752267e-16],
       [ 1.89403375e-16, -2.67313230e-16,  1.00000000e+00,
        -6.69190696e-17],
       [-5.61381313e-16,  9.54952023e-17,  8.95863015e-17,
         1.00000000e+00]])

In [12]:
test = features.values @ matrix

In [13]:
features_train_test, features_valid_test, target_train_test, target_valid_test = train_test_split(test, target, 
                                                                            test_size=0.25, random_state=12345)

In [14]:
model_1 = LinearRegression()
model_1 = model_1.fit(features_train_test, target_train_test)
prediction_1 = model_1.predict(features_valid_test)

In [16]:
print("Значение r2:", r2_score(target_valid_test, prediction_1))

Значение r2: 0.43522757127058964

Показатели метрики R2 максимально схожи между собой.

## Вывод

- Загружены и изучены данные.
- Создан алгоритм преобразования данных.
- На основе метрика R2 видно, что качество модели не меняется после шифрования данных.